<div *ngIf="statusService.messages.length">
    <button type="button" class="clear" (click)="statusService.clear()">Clear messages</button>
    <div *ngFor="let message of statusService.messages">{{message}}</div>
    
    </div>

    <div *ngIf="statusService.history.length">
        <button type="button" class="clear" (click)="statusService.clear()">Clear messages</button>
        <button class="p-5 m-5" *ngFor="let history of statusService.history" (click)="gameService.jumpToMove(history)">{{history}}</button>
        
        </div>